<h2 md-dialog-title>Add New Device</h2>
<md-dialog-content>
    <form [formGroup]="deviceForm" novalidate>
        <div class="form-item">
            <md-input-container>
                <input mdInput placeholder="Device Name" formControlName="name" required="true">
            </md-input-container>
        </div>
        <div class="form-item">
            <md-input-container>
                <input mdInput placeholder="Device Id" formControlName="deviceId" required="true">
            </md-input-container>
        </div>
        <div class="form-item">
            <md-select placeholder="Device Type" formControlName="deviceType">
                <md-option *ngFor="let device of devices" [value]="device.viewValue">
                    {{ device.viewValue }}
                </md-option>
            </md-select>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <button md-button color="secondary" md-dialog-close>Cancel</button>
    <button md-raised-button color="primary" (click)="saveDevice()">Save</button>
</md-dialog-actions>