<sebm-google-map [style.height]="innerHeight" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [streetViewControl]="false" (boundsChange)="onBoundsChange($event)" (zoomChange)="onZoomChange($event)">

    <sebm-google-map-marker *ngFor="let p of points; trackBy:identify" [longitude]="p.geometry.coordinates[0]" [latitude]="p.geometry.coordinates[1]"
        [iconUrl]="getIcon(p.properties.icon)">
        <sebm-google-map-info-window>
            <strong>{{p.properties.name}}</strong>
            <p>{{p.properties.description}}</p>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-polyline *ngFor="let path of paths; trackBy:identify" strokeWeight="3" strokeColor="#0000ff">
        <sebm-google-map-polyline-point *ngFor="let p of path.geometry.coordinates; let i = index" [longitude]="p[0]" [latitude]="p[1]">
        </sebm-google-map-polyline-point>
    </sebm-google-map-polyline>

    <data-layer source="giro" color="#FF5733" selectedColor="#C70039"></data-layer>
    <data-layer source="italy-cycling-guide" color="#6666ff" selectedColor="#0000e6"></data-layer>
    <data-layer source="venice" color="#66ffb3" selectedColor="#00cc66"></data-layer>
</sebm-google-map>