@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*@import url('https://fonts.googleapis.com/css?family=Lato');*/

body {
    font-family: Roboto;
}

#map {
    height: 100%;
}

html, body, app, md-sidenav-container, .app-content {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

.card-grid {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 1101px) and (max-width: 1450px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 760px) and (max-width: 1100px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 100px) and (max-width: 759px) {
    .panel {}
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    width: 320px;
    border-radius: 6px;
    box-shadow: 3px 3px 4px rgba(51, 51, 51, 0.15);
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
}

.card-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #cbcbcb;
    flex: 0 0 auto;
    height: 80px;
    position: relative;
}

.card-header h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.card-body {
    flex: 1;
    overflow: hidden;
    background-color: skyblue;
    height: 200px;
}

.card-footer {
    flex: 1;
    overflow: hidden;
    margin: 5px;
}

.site-actions {
    position: fixed;
    bottom: 20px;
    right: 20px;
}