<h2 md-dialog-title>Edit Layers</h2>
<md-dialog-content>

    <div class="form-item" *ngFor="let group of groups">
        <md-checkbox [checked]="group.selected" (change)="updateGroup($event, group)" >{{group.name}}</md-checkbox>
    </div>

</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button color="primary" (click)="saveRoute()">Ok</button>
</md-dialog-actions>