<md-progress-bar *ngIf="isProcessing" mode="indeterminate"></md-progress-bar>
<sebm-google-map [style.height]="innerHeight" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true"
    [zoomControl]="false" (mapClick)="createPoint($event)" [streetViewControl]="false" (boundsChange)="onBoundsChange($event)"
    (zoomChange)="onZoomChange($event)">

    <sebm-google-map-marker *ngFor="let p of points" [latitude]="p.lat" [longitude]="p.lng" [label]="p.label">
        <sebm-google-map-info-window [disableAutoPan]="true">
            <button md-button (click)="searchPoint(p, 'campground')">Search Campsites</button>
            <br>
            <button md-button (click)="searchPoint(p, 'bicycle_store')">Search Bike Stops</button>
            <br>
            <button md-button (click)="removePoint(p)">Remove Point</button>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <new-route *ngFor="let f of features;let i = index;" [feature]="f.feature" [color]="getColor(f,i)">
        <h3>{{f.source}}</h3>
        <p> Distance: {{f.feature.properties.distance / 1000 | number : '1.2-2'}} km
            <br> Elevation: {{f.feature.properties.elevation | number : '1.2-2'}} m</p>
        <button md-raised-button (click)="saveRoute(f)">Save</button>
    </new-route>

    <route-layer *ngFor="let g of groups;let i = index; trackBy: trackByGroup" color="purple" [groupName]="g.name" [visible]="g.selected" >
        <h3>{{g | json}}</h3>
    </route-layer>

    <places-layer *ngFor="let p of searchPoints" [lat]="p.lat" [lng]="p.lng" [searchType]="p.searchType" (onLoadPlaces)="loadPlaces($event)">
    </places-layer>

    <sebm-google-map-marker *ngFor="let p of places" [latitude]="p.lat" [longitude]="p.lng" [iconUrl]="p.icon">
        <sebm-google-map-info-window [disableAutoPan]="true">
            <h3>{{p.name}}</h3>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

</sebm-google-map>

<md-fab-speed-dial #myFab class="site-actions">
    <md-fab-trigger>
        <button md-fab><md-icon>add</md-icon></button>
    </md-fab-trigger>

    <md-fab-actions>
        <button md-mini-fab (click)="createRoute()"><md-icon>directions_bike</md-icon></button>
        <button md-mini-fab (click)="createPointAtMyLocation()"><md-icon>my_location</md-icon></button>
        <button md-mini-fab (click)="editLayers()"><md-icon>layers</md-icon></button>
        <button md-mini-fab (click)="clearMap()"><md-icon>delete</md-icon></button>
    </md-fab-actions>
</md-fab-speed-dial>