<h2 md-dialog-title>Add New Device</h2>
<md-dialog-content>
    <form [formGroup]="groupForm" novalidate>
        <div class="form-item">
            <md-input-container>
                <input mdInput placeholder="Group Name" formControlName="name" required="true">
            </md-input-container>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <button md-button color="secondary" md-dialog-close>Cancel</button>
    <button md-raised-button color="primary" (click)="saveGroup()">Save</button>
</md-dialog-actions>