<h2 md-dialog-title>Move Route</h2>
<md-dialog-content>

    <md-nav-list>
        <md-nav-list *ngFor="let group of groups | async">
            <button md-icon-button (click)="moveRoute(group)">
              {{group}}
            </button>
        </md-nav-list>
    </md-nav-list>

</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button color="primary" (click)="close()">Cancel</button>
</md-dialog-actions>