<md-sidenav-container class="example-container">

  <md-sidenav #sidenav class="app-sidenav" mode="side" #sidenav>

    <div>
      <div *ngIf="isLoggedIn" class="user-icon" [style.background-image]="userProfileIcon"></div>
    </div>
    <md-nav-list *ngIf="isLoggedIn">
      <!--<a md-list-item routerLink="/maps" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>map</md-icon><span>Maps</span>
      </a>-->
      <a md-list-item routerLink="/map/route" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>map</md-icon><span>Create Route</span>
      </a>

      <div class="menu-subheading">
        Route Groups
      </div>

      <a md-list-item *ngFor="let g of groups" [routerLink]="['/settings/routes', g]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>directions</md-icon><span>{{g}}</span>
      </a>

      <a *ngIf="hasStrava" md-list-item routerLink="/settings/routes/strava" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>directions</md-icon><span>Strava</span>
      </a>
      <a *ngIf="!hasStrava" md-list-item [href]="stravaLoginUrl">
        <md-icon>info</md-icon><span>Link Strava</span>
      </a>

      <div class="menu-subheading">
        User
      </div>

      <a md-list-item routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>settings</md-icon><span>Settings</span>
      </a>

      <a md-list-item routerLink="/logoff" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>info</md-icon><span>Logoff</span>
      </a>

      
      <!--<md-list-item>
        <a md-line (click)="maps()">Maps</a>
        <button md-icon-button (click)="maps()">
          <md-icon>map</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <a md-line (click)="mapRoute()">Create Route</a>
        <button md-icon-button (click)="mapRoute()">
          <md-icon>map</md-icon>
        </button>
      </md-list-item>


      <md-list-item *ngIf="hasStrava">
        <a md-line (click)="stravaRoutes()">Strava Routes</a>
        <button md-icon-button (click)="stravaRoutes()">
          <md-icon>directions</md-icon>
        </button>
      </md-list-item>
      <md-list-item *ngIf="!hasStrava">
        <a md-line [href]="stravaLoginUrl">Connect Strava</a>
        <button md-icon-button>
          <md-icon>info</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <a md-line (click)="manualRoutes()">Manual Routes</a>
        <button md-icon-button (click)="manualRoutes()">
          <md-icon>directions</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <a md-line (click)="settings()">Settings</a>
        <button md-icon-button (click)="settings()">
          <md-icon>settings</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <a md-line (click)="logout()">LogOff</a>
        <button md-icon-button (click)="logout()">
          <md-icon>info</md-icon>
        </button>
      </md-list-item>-->
    </md-nav-list>

    <md-nav-list *ngIf="!isLoggedIn">
      <a md-list-item routerLink="/maps" routerLinkActive="active">
        <md-icon>map</md-icon><span>Maps</span>
      </a>
      <a md-list-item routerLink="/login" routerLinkActive="active">
        <md-icon>map</md-icon><span>Login</span>
      </a>
      <!--<md-list-item>
        <a md-line (click)="maps()">Maps</a>
        <button md-icon-button (click)="maps()">
          <md-icon>map</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <a md-line (click)="login()">Login</a>
        <button md-icon-button (click)="login()">
          <md-icon>map</md-icon>
        </button>
      </md-list-item>-->
    </md-nav-list>

  </md-sidenav>



  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <a class="site-title" routerLink="/">Trip Planner</a>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>