.site-title{
  text-decoration: none;
  color: white;
}

md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  // padding: 20px;
  min-height: 300px;
  // height: 100%;
  min-height: calc(100% - 65px);
}

.app-sidenav {
  padding: 10px;
  min-width: 300px;
}

.user-icon{
  display: block;
  width: 50px;
  height: 50px;
  // margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50px;
  // border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}


// Navagation

.mat-list-item {
  span {
    padding-left: 10px;
  }
}

.mat-list-item.active {
  background-color: green;
    color: red;
}