@mixin mat-fab-speed-dial-container($box-orient, $flex-direction) {
  -webkit-box-orient: $box-orient;
  -webkit-box-direction: normal;
  -webkit-flex-direction: $flex-direction;
  flex-direction: $flex-direction;

}

@mixin mat-fab-speed-dial-box-order($ordinal-group, $order) {
  -webkit-box-ordinal-group: $ordinal-group;
  -webkit-order: $order;
  order: $order;

}

@mixin mat-fab-speed-dial-actions($box-orient, $box-direction, $flex-direction, $ordinal-group, $order, $action-item-margin-direction) {
  -webkit-box-orient: $box-orient;
  -webkit-box-direction: $box-direction;
  -webkit-flex-direction: $flex-direction;
  flex-direction: $flex-direction;

  @include mat-fab-speed-dial-box-order($ordinal-group, $order);

  & .mat-fab-action-item {
    margin-#{$action-item-margin-direction}: 10px;
  }

}

.mat-fab-speed-dial {
  display: inline-block;

  &.mat-opened {
    .mat-fab-speed-dial-container {
      .mat-fab-trigger {
        &.mat-spin {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }

  .mat-fab-speed-dial-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 20;

    .mat-fab-trigger {
      pointer-events: auto;
      z-index: 24;

      &.mat-spin {
        -webkit-transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .mat-fab-actions {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      height: auto;
    }
  }

  &.mat-fling {
    .mat-fab-speed-dial-container {
      .mat-fab-actions {
        & .mat-fab-action-item {
          display: block;
          opacity: 1;
          -webkit-transition: all 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
          transition: all 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
        }
      }
    }
  }

  &.mat-scale {
    .mat-fab-speed-dial-container {
      .mat-fab-actions {
        & .mat-fab-action-item {
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transition: all 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
          transition: all 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
          -webkit-transition-duration: 142.86ms;
          transition-duration: 142.86ms;
        }
      }
    }
  }

  &.mat-down {
    .mat-fab-speed-dial-container {
      @include mat-fab-speed-dial-container(vertical, column);

      .mat-fab-trigger {
        @include mat-fab-speed-dial-box-order(2, 1);
      }

      .mat-fab-actions {
        @include mat-fab-speed-dial-actions(vertical, normal, column, 3, 2, top);
      }
    }
  }

  &.mat-up {
    .mat-fab-speed-dial-container {
      @include mat-fab-speed-dial-container(vertical, column);

      .mat-fab-trigger {
        @include mat-fab-speed-dial-box-order(3, 2);
      }

      .mat-fab-actions {
        @include mat-fab-speed-dial-actions(vertical, reverse, column-reverse, 2, 1, bottom);
      }
    }
  }

  &.mat-left {
    .mat-fab-speed-dial-container {
      @include mat-fab-speed-dial-container(horizontal, row);

      .mat-fab-trigger {
        @include mat-fab-speed-dial-box-order(3, 2);
      }

      .mat-fab-actions {
        @include mat-fab-speed-dial-actions(horizontal, normal, row-reverse, 2, 1, right);
      }
    }
  }

  &.mat-right {
    .mat-fab-speed-dial-container {
      @include mat-fab-speed-dial-container(horizontal, row);

      .mat-fab-trigger {
        @include mat-fab-speed-dial-box-order(2, 1);
      }

      .mat-fab-actions {
        @include mat-fab-speed-dial-actions(horizontal, normal, row, 3, 2, left);
      }
    }
  }

}
