<md-progress-bar *ngIf="isProcessing" mode="indeterminate"></md-progress-bar>
<div class="panel">
  <div class="panel-body card-grid">
    <article *ngFor="let r of routes | async; trackBy: trackByRoute" class="card">
      <header class="card-header">
        <h1>{{r.name}}</h1>
      </header>
      <div class="card-body">
        <img [src]="getImage(r)">
      </div>
      <div class="card-footer">
        Distance: {{r.distance / 1000 | number : '1.2-2'}} km<br> Elevation: {{r.elevation | number : '1.2-2'}} m<br>

        <md-nav-list>
          <md-nav-list *ngFor="let device of devices | async">
            <button md-icon-button (click)="sendToDevice(device, r)">
              <md-icon>tap_and_play</md-icon>
            </button>
            <a md-line href="javascript:void(0)" (click)="sendToDevice(device, r)">{{device.deviceId}}</a>
          </md-nav-list>
        </md-nav-list>

      </div>
    </article>
  </div>
</div>