<md-progress-bar *ngIf="isProcessing" [mode]="mode"></md-progress-bar>
<h2>{{groupName}}</h2>
<div class="panel">
  <div class="panel-body card-grid">
    <article *ngFor="let r of routes" class="card">
      <route-card [routeKey]="r" [devices]="devices" (onDelete)="deleteRoute($event)" (onMove)="moveRoute($event)"></route-card>
    </article>
  </div>
</div>

<input #fileInput type="file" (change)="fileUpload($event)" style="visibility:hidden" multiple accept=".kml,.gpx,.tcx"/>
<div class="site-actions">
  <button md-fab (click)="openFileDialog()"><md-icon>add</md-icon></button>
</div>