<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>
    <button class="login loginmodal-submit" (click)="login()">Login With Google</button>
  </div>
</div>  