<h2 md-dialog-title>Add New Route</h2>
<md-progress-bar *ngIf="isProcessing" mode="indeterminate"></md-progress-bar>
<md-dialog-content>
    <form [formGroup]="routeForm" novalidate>
        <div class="form-item">
            <md-input-container>
                <input mdInput placeholder="Map Name" formControlName="name" required="true">
            </md-input-container>
        </div>
        <div class="form-item">
            <md-select placeholder="Group Name" formControlName="groupName">
                <md-option *ngFor="let group of groups" [value]="group">
                    {{ group }}
                </md-option>
            </md-select>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <button md-button color="secondary" md-dialog-close>Cancel</button>
    <button md-raised-button color="primary" (click)="saveRoute()">Save</button>
</md-dialog-actions>