<h2 md-dialog-title>Confirm</h2>
<md-dialog-content>
    {{message}}
</md-dialog-content>
<md-dialog-actions>
    <button md-button color="secondary" (click)="cancel()">Cancel</button>
    <button md-raised-button color="primary" (click)="ok()">Ok</button>
</md-dialog-actions>