<button md-raised-button (click)="openDialog()">Add Device</button>
<br>
<button md-raised-button (click)="createGroup()">Add Group</button>
<br>
<md-list>
  <h3 md-subheader>Devices</h3>
  <md-list-item *ngFor="let device of devices | async; trackBy: trackByDevice">
    <md-icon md-list-icon>devices</md-icon>
    <h4 md-line>{{device.name}} ({{device.deviceId}})</h4>
    <p md-line> {{device.deviceType}} </p>
    <p md-line> {{(device.detail | async)?.syncDate | date:'medium'}} </p>
    <ul md-line>
      <li *ngFor="let r of device.routes | async"> {{r.properties.name}}</li>
    </ul>
  </md-list-item>
</md-list>

<md-list>
  <h3 md-subheader>Groups</h3>
  <md-list-item *ngFor="let g of groups">
    <md-icon md-list-icon>devices</md-icon>
    <h4 md-line>{{g}}</h4>
    <p md-line><a [routerLink]="['/settings/routes', g]">here</a></p>
  </md-list-item>
</md-list>

<!--
<div class="panel">
  <div class="panel-body card-grid">
    <article *ngFor="let r of routes | async; trackBy: trackByRoute" class="card">
      <header class="card-header">
        <h1>{{r.name}}</h1>
      </header>
      <div class="card-body">
        <img [src]="getImage(r)">
      </div>
      <div class="card-footer">
        Distance: {{r.distance / 1000 | number : '1.2-2'}} km<br> Elevation: {{r.elevation | number : '1.2-2'}} m<br>

        <md-nav-list>
          <md-nav-list *ngFor="let device of devices | async">
            <button md-icon-button (click)="sendToDevice(device, r)">
              <md-icon>tap_and_play</md-icon>
            </button>
            <a md-line href="javascript:void(0)" (click)="sendToDevice(device, r)">{{device.deviceId}}</a>
          </md-nav-list>
        </md-nav-list>

      </div>
    </article>
  </div>
</div>-->


