<div *ngIf="r">
    <header class="card-header">
        <h1>{{r.name}}</h1>

        <button md-icon-button [mdMenuTriggerFor]="menu" style="float: right;padding-top: 20px;">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item (click)="showMoveOptions(r)">
                <md-icon>fast_forward</md-icon><span>Move</span>
            </button>
            <button md-menu-item (click)="confirmDelete(r)">
                <md-icon>delete</md-icon><span>Delete</span>
            </button>
        </md-menu>
    </header>
    <div class="card-body">
        <img [src]="getImage(r)">
    </div>
    <div class="card-footer">
        Distance: {{r.distance / 1000 | number : '1.2-2'}} km
        <br> 
        Elevation: {{r.elevation | number : '1.2-2'}} m
        <br>

        <md-nav-list>
            <md-nav-list *ngFor="let device of devices | async">
                <button md-icon-button (click)="sendToDevice(device, r)">
              <md-icon>tap_and_play</md-icon>
            </button>
                <a md-line href="javascript:void(0)" (click)="sendToDevice(device, r)">{{device.deviceId}}</a>
            </md-nav-list>
        </md-nav-list>
    </div>
    <div>